.auth-title {
    margin-bottom: 15px;
    padding: 0 16px;
    text-align: center;
    line-height: 25px;
    @media screen and (min-width: 560px) {
        .auth-title {
            line-height: 33px;
        }
    }
    .auth-title__title {
        margin: 0;
        font-family: $font-family-sans-serif;
        font-size: 22px;
        font-weight: 700;
        @media screen and (min-width: 560px) {
            .auth-title__title {
                font-size: 30px;
            }
        }
    }
    .auth-title__subtitle {
        font-family: $font-family-sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        @media screen and (min-width: 560px) {
            .auth-title__subtitle {
                font-size: 15px;
                line-height: 26px;
            }
        }
    }
}
